USE [master]
GO
/****** Object:  Database [QLKHO]    Script Date: 12/11/2019 2:22:54 AM ******/
CREATE DATABASE [QLKHO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLKHO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLKHO.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLKHO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLKHO_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKHO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKHO]
GO
/****** Object:  Table [dbo].[CHITIETDDH]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETDDH](
	[MADDH] [varchar](10) NOT NULL,
	[MASP] [varchar](20) NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CHITIETDDH] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETHD](
	[MAHD] [varchar](10) NOT NULL,
	[MASP] [varchar](20) NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETHD] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONG_TY]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONG_TY](
	[MACTY] [varchar](10) NOT NULL,
	[TENCTY] [nvarchar](200) NULL,
	[DIACHICT] [nvarchar](100) NULL,
	[SDTCT] [varchar](10) NULL,
	[MOTACT] [nvarchar](500) NULL,
	[WEBSITECT] [varchar](100) NULL,
	[MASOTHUE] [nchar](100) NULL,
	[FAX] [nchar](20) NULL,
	[LINHVUC] [nvarchar](100) NULL,
	[EMAILCT] [nvarchar](500) NULL,
 CONSTRAINT [PK_CONG_TY] PRIMARY KEY NONCLUSTERED 
(
	[MACTY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DM_MANHINH]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DM_MANHINH](
	[MAMANHINH] [varchar](10) NOT NULL,
	[TENMANHINH] [nvarchar](50) NULL,
 CONSTRAINT [PK_DM_MANHINH] PRIMARY KEY NONCLUSTERED 
(
	[MAMANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MADDH] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NULL,
	[TONGTIENMUA] [float] NULL,
	[NGAYDATHANG] [datetime] NULL,
	[GHICHUNND] [nvarchar](200) NULL,
	[DIACHINHANHANG] [nvarchar](500) NULL,
 CONSTRAINT [PK_DONDATHANG] PRIMARY KEY NONCLUSTERED 
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DSHANGCHUYENKHO]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DSHANGCHUYENKHO](
	[MAPC] [varchar](10) NOT NULL,
	[MASP] [varchar](20) NOT NULL,
	[SL] [int] NULL,
 CONSTRAINT [PK_DSHANGCHUYENKHO] PRIMARY KEY CLUSTERED 
(
	[MAPC] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DSHANGNHAP]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DSHANGNHAP](
	[MAPN] [varchar](10) NOT NULL,
	[MASP] [varchar](20) NOT NULL,
	[SL] [int] NULL,
	[ThanhTien] [float] NULL,
 CONSTRAINT [PK_DSHANGNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DSHANGXUAT]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DSHANGXUAT](
	[MAPX] [varchar](10) NOT NULL,
	[MASP] [varchar](20) NOT NULL,
	[SoLuong] [int] NULL,
	[ThanhTien] [float] NULL,
 CONSTRAINT [PK_DSHANGXUAT] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HANGTON]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HANGTON](
	[MAKHO] [varchar](10) NOT NULL,
	[MASP] [varchar](20) NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_HANGTON] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MAHD] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NULL,
	[NGAYLAP] [datetime] NULL,
	[TONGTIENMUA] [float] NULL,
 CONSTRAINT [PK_HOA__ON] PRIMARY KEY NONCLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MAKH] [varchar](10) NOT NULL,
	[TENKH] [nvarchar](50) NULL,
	[SDTKH] [varchar](10) NULL,
	[EMAILKH] [varchar](100) NULL,
	[DIACHIKH] [nvarchar](200) NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY NONCLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOHANG]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOHANG](
	[MAKHO] [varchar](10) NOT NULL,
	[TENKHO] [nvarchar](50) NULL,
	[DIACHIKHO] [nvarchar](100) NULL,
	[MOTA] [nvarchar](500) NULL,
 CONSTRAINT [PK_KHOHANG] PRIMARY KEY CLUSTERED 
(
	[MAKHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHU_VUC]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHU_VUC](
	[MAKV] [varchar](10) NOT NULL,
	[TENKV] [nvarchar](100) NULL,
	[MOTA] [nvarchar](200) NULL,
 CONSTRAINT [PK_KHU_VUC] PRIMARY KEY NONCLUSTERED 
(
	[MAKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAI_SAN_PHAM]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAI_SAN_PHAM](
	[MALOAI] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](100) NULL,
	[MOTALSP] [nvarchar](500) NULL,
 CONSTRAINT [PK_LOAI_SAN_PHAM] PRIMARY KEY NONCLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MANCC] [varchar](10) NOT NULL,
	[MAKV] [varchar](10) NOT NULL,
	[TENNCC] [nvarchar](100) NULL,
	[DIACHINCC] [nvarchar](200) NULL,
	[NGUOILIENHE] [nvarchar](50) NULL,
	[SDTNCC] [varchar](10) NULL,
	[MOTANCC] [nvarchar](500) NULL,
	[EMAILNCC] [varchar](100) NULL,
	[WEBSITENCC] [varchar](200) NULL,
 CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY NONCLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHA_SAN_XUAT]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHA_SAN_XUAT](
	[MANSX] [varchar](10) NOT NULL,
	[TENNSX] [nvarchar](100) NULL,
	[MOTANSX] [nvarchar](500) NULL,
	[EMAILNSX] [varchar](100) NULL,
	[WEBSITENSX] [varchar](500) NULL,
 CONSTRAINT [PK_NHA_SAN_XUAT] PRIMARY KEY NONCLUSTERED 
(
	[MANSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MANV] [varchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[DIACHINV] [nvarchar](100) NULL,
	[SDTNV] [varchar](10) NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEU_CHUYEN]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEU_CHUYEN](
	[MAPC] [varchar](10) NOT NULL,
	[NGAYCHUYEN] [datetime] NULL,
	[TUKHO] [varchar](10) NULL,
	[DENKHO] [varchar](10) NULL,
	[MANV] [varchar](10) NULL,
	[TONGTIEN] [float] NULL,
	[LYDO] [nvarchar](100) NULL,
 CONSTRAINT [PK_PHIEU_CHUYEN] PRIMARY KEY CLUSTERED 
(
	[MAPC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEU_NHAP]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP](
	[MAPN] [varchar](10) NOT NULL,
	[MANV] [varchar](10) NOT NULL,
	[NGAYNHAP] [datetime] NULL,
	[NOIDUNG] [nvarchar](500) NULL,
	[MAKHO] [varchar](10) NULL,
 CONSTRAINT [PK_PHIEU_NHAP] PRIMARY KEY NONCLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEU_XUAT]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEU_XUAT](
	[MAPX] [varchar](10) NOT NULL,
	[MANV] [varchar](10) NULL,
	[NGAYXUAT] [datetime] NULL,
	[MOTAPHIEUXUAT] [nvarchar](500) NULL,
	[MAKHO] [varchar](10) NULL,
 CONSTRAINT [PK_PHIEU_XUAT] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QL_NGUOIDUNG]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_NGUOIDUNG](
	[TENDANGNHAP] [varchar](10) NOT NULL,
	[MATKHAU] [varchar](20) NULL,
	[HOATDONG] [tinyint] NULL,
 CONSTRAINT [PK_QL_NGUOIDUNG] PRIMARY KEY NONCLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG](
	[MANHOM] [varchar](10) NOT NULL,
	[MAMANHINH] [varchar](10) NOT NULL,
	[GHICHUNND] [nvarchar](200) NULL,
 CONSTRAINT [PK_QL_NGUOIDUNGNHOMNGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC,
	[MAMANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QL_NHOMNGUOIDUNG]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_NHOMNGUOIDUNG](
	[MANHOM] [varchar](10) NOT NULL,
	[TENNHOM] [varchar](50) NULL,
	[GHICHUNND] [nvarchar](200) NULL,
 CONSTRAINT [PK_QL_NHOMNGUOIDUNG] PRIMARY KEY NONCLUSTERED 
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QL_PHANQUYEN]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_PHANQUYEN](
	[TENDANGNHAP] [varchar](10) NOT NULL,
	[MANHOM] [varchar](10) NOT NULL,
	[COQUYEN] [bit] NULL,
 CONSTRAINT [PK_QL_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC,
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MASP] [varchar](20) NOT NULL,
	[MALOAI] [varchar](10) NOT NULL,
	[MANCC] [varchar](10) NOT NULL,
	[MANSX] [varchar](10) NOT NULL,
	[TEN_SP] [nvarchar](500) NULL,
	[MAUSAC] [nvarchar](50) NULL,
	[GIANHAP] [float] NULL,
	[GIABANSI] [float] NULL,
	[GIABANLE] [float] NULL,
	[DVT] [nvarchar](50) NULL,
	[MOTASP] [nvarchar](500) NULL,
	[HinhAnh] [varchar](500) NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY NONCLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[DSNhap]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DSNhap]
AS
SELECT        dbo.KHOHANG.TENKHO, dbo.PHIEU_NHAP.MAPN, dbo.SAN_PHAM.TEN_SP, dbo.SAN_PHAM.DVT, dbo.SAN_PHAM.GIANHAP, dbo.DSHANGNHAP.SL, dbo.DSHANGNHAP.ThanhTien, dbo.KHOHANG.MAKHO
FROM            dbo.KHOHANG INNER JOIN
                         dbo.PHIEU_NHAP ON dbo.KHOHANG.MAKHO = dbo.PHIEU_NHAP.MAKHO INNER JOIN
                         dbo.DSHANGNHAP ON dbo.PHIEU_NHAP.MAPN = dbo.DSHANGNHAP.MAPN INNER JOIN
                         dbo.SAN_PHAM ON dbo.DSHANGNHAP.MASP = dbo.SAN_PHAM.MASP
GROUP BY dbo.KHOHANG.MAKHO, dbo.KHOHANG.TENKHO, dbo.PHIEU_NHAP.MAPN, dbo.SAN_PHAM.TEN_SP, dbo.SAN_PHAM.DVT, dbo.SAN_PHAM.GIANHAP, dbo.DSHANGNHAP.SL, dbo.DSHANGNHAP.ThanhTien

GO
/****** Object:  View [dbo].[DSXuat]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DSXuat]
AS
SELECT        dbo.KHOHANG.TENKHO, dbo.PHIEU_XUAT.MAPX, dbo.SAN_PHAM.TEN_SP, dbo.SAN_PHAM.DVT, dbo.SAN_PHAM.GIABANLE, dbo.DSHANGXUAT.SoLuong, dbo.DSHANGXUAT.ThanhTien, dbo.KHOHANG.MAKHO
FROM            dbo.KHOHANG INNER JOIN
                         dbo.PHIEU_XUAT ON dbo.KHOHANG.MAKHO = dbo.PHIEU_XUAT.MAKHO INNER JOIN
                         dbo.DSHANGXUAT ON dbo.PHIEU_XUAT.MAPX = dbo.DSHANGXUAT.MAPX INNER JOIN
                         dbo.SAN_PHAM ON dbo.DSHANGXUAT.MASP = dbo.SAN_PHAM.MASP
GROUP BY dbo.KHOHANG.TENKHO, dbo.PHIEU_XUAT.MAPX, dbo.SAN_PHAM.TEN_SP, dbo.SAN_PHAM.DVT, dbo.SAN_PHAM.GIABANLE, dbo.DSHANGXUAT.SoLuong, dbo.DSHANGXUAT.ThanhTien, dbo.KHOHANG.MAKHO

GO
/****** Object:  View [dbo].[TKKHO_VIEW]    Script Date: 12/11/2019 2:22:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[TKKHO_VIEW] as select SAN_PHAM.TEN_SP,SAN_PHAM.DVT, sum(SL) as 'SLNHAP',sum(DSHANGXUAT.SoLuong) as 'SLXUAT',HANGTON.SOLUONG as 'SLTON',HANGTON.MAKHO,
SAN_PHAM.GIANHAP, SAN_PHAM.GIABANLE,SAN_PHAM.GIABANSI
from DSHANGNHAP, PHIEU_NHAP,SAN_PHAM,PHIEU_XUAT,DSHANGXUAT, HANGTON 
where PHIEU_NHAP.MAPN =DSHANGNHAP.MAPN AND SAN_PHAM.MASP = DSHANGNHAP.MASP 
and PHIEU_XUAT.MAPX= DSHANGXUAT.MAPX and SAN_PHAM.MASP= DSHANGXUAT.MASP
and SAN_PHAM.MASP = HANGTON.MASP
 group by DSHANGNHAP.MASP, TEN_SP, DSHANGXUAT.MASP, HANGTON.SOLUONG,SAN_PHAM.DVT,HANGTON.MAKHO,SAN_PHAM.GIANHAP, SAN_PHAM.GIABANLE,SAN_PHAM.GIABANSI
GO
ALTER TABLE [dbo].[CHITIETDDH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETD_CHITIETDD_SAN_PHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SAN_PHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETDDH] CHECK CONSTRAINT [FK_CHITIETD_CHITIETDD_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHD_HOA_DON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOA_DON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK_CHITIETHD_HOA_DON]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHD_SAN_PHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SAN_PHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK_CHITIETHD_SAN_PHAM]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHA_RELATIONS_KHACH_HA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACH_HANG] ([MAKH])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHA_RELATIONS_KHACH_HA]
GO
ALTER TABLE [dbo].[DSHANGCHUYENKHO]  WITH CHECK ADD  CONSTRAINT [FK_DSHANGCHUYENKHO_PHIEU_CHUYEN] FOREIGN KEY([MAPC])
REFERENCES [dbo].[PHIEU_CHUYEN] ([MAPC])
GO
ALTER TABLE [dbo].[DSHANGCHUYENKHO] CHECK CONSTRAINT [FK_DSHANGCHUYENKHO_PHIEU_CHUYEN]
GO
ALTER TABLE [dbo].[DSHANGCHUYENKHO]  WITH CHECK ADD  CONSTRAINT [FK_DSHANGCHUYENKHO_SAN_PHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SAN_PHAM] ([MASP])
GO
ALTER TABLE [dbo].[DSHANGCHUYENKHO] CHECK CONSTRAINT [FK_DSHANGCHUYENKHO_SAN_PHAM]
GO
ALTER TABLE [dbo].[DSHANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_DSHANGNHAP_PHIEU_NHAP] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEU_NHAP] ([MAPN])
GO
ALTER TABLE [dbo].[DSHANGNHAP] CHECK CONSTRAINT [FK_DSHANGNHAP_PHIEU_NHAP]
GO
ALTER TABLE [dbo].[DSHANGNHAP]  WITH CHECK ADD  CONSTRAINT [FK_DSHANGNHAP_SAN_PHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SAN_PHAM] ([MASP])
GO
ALTER TABLE [dbo].[DSHANGNHAP] CHECK CONSTRAINT [FK_DSHANGNHAP_SAN_PHAM]
GO
ALTER TABLE [dbo].[DSHANGXUAT]  WITH CHECK ADD  CONSTRAINT [FK_DSHANGXUAT_PHIEU_XUAT] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PHIEU_XUAT] ([MAPX])
GO
ALTER TABLE [dbo].[DSHANGXUAT] CHECK CONSTRAINT [FK_DSHANGXUAT_PHIEU_XUAT]
GO
ALTER TABLE [dbo].[DSHANGXUAT]  WITH CHECK ADD  CONSTRAINT [FK_DSHANGXUAT_SAN_PHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SAN_PHAM] ([MASP])
GO
ALTER TABLE [dbo].[DSHANGXUAT] CHECK CONSTRAINT [FK_DSHANGXUAT_SAN_PHAM]
GO
ALTER TABLE [dbo].[HANGTON]  WITH CHECK ADD  CONSTRAINT [FK_HANGTON_KHOHANG] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHOHANG] ([MAKHO])
GO
ALTER TABLE [dbo].[HANGTON] CHECK CONSTRAINT [FK_HANGTON_KHOHANG]
GO
ALTER TABLE [dbo].[HANGTON]  WITH CHECK ADD  CONSTRAINT [FK_HANGTON_SAN_PHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SAN_PHAM] ([MASP])
GO
ALTER TABLE [dbo].[HANGTON] CHECK CONSTRAINT [FK_HANGTON_SAN_PHAM]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA__ON_MUA_KHACH_HA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACH_HANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA__ON_MUA_KHACH_HA]
GO
ALTER TABLE [dbo].[NHA_CUNG_CAP]  WITH CHECK ADD  CONSTRAINT [FK_NHA_CUNG_CHIEM_KHU_VUC] FOREIGN KEY([MAKV])
REFERENCES [dbo].[KHU_VUC] ([MAKV])
GO
ALTER TABLE [dbo].[NHA_CUNG_CAP] CHECK CONSTRAINT [FK_NHA_CUNG_CHIEM_KHU_VUC]
GO
ALTER TABLE [dbo].[PHIEU_CHUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_CHUYEN_KHOHANG4] FOREIGN KEY([TUKHO])
REFERENCES [dbo].[KHOHANG] ([MAKHO])
GO
ALTER TABLE [dbo].[PHIEU_CHUYEN] CHECK CONSTRAINT [FK_PHIEU_CHUYEN_KHOHANG4]
GO
ALTER TABLE [dbo].[PHIEU_CHUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_CHUYEN_KHOHANG5] FOREIGN KEY([DENKHO])
REFERENCES [dbo].[KHOHANG] ([MAKHO])
GO
ALTER TABLE [dbo].[PHIEU_CHUYEN] CHECK CONSTRAINT [FK_PHIEU_CHUYEN_KHOHANG5]
GO
ALTER TABLE [dbo].[PHIEU_CHUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_CHUYEN_NHAN_VIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEU_CHUYEN] CHECK CONSTRAINT [FK_PHIEU_CHUYEN_NHAN_VIEN]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NH_NHAP_NHAN_VIE] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PHIEU_NH_NHAP_NHAN_VIE]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_KHOHANG] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHOHANG] ([MAKHO])
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PHIEU_NHAP_KHOHANG]
GO
ALTER TABLE [dbo].[PHIEU_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_XUAT_KHOHANG] FOREIGN KEY([MAKHO])
REFERENCES [dbo].[KHOHANG] ([MAKHO])
GO
ALTER TABLE [dbo].[PHIEU_XUAT] CHECK CONSTRAINT [FK_PHIEU_XUAT_KHOHANG]
GO
ALTER TABLE [dbo].[PHIEU_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_XUAT_NHAN_VIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEU_XUAT] CHECK CONSTRAINT [FK_PHIEU_XUAT_NHAN_VIEN]
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_QL_NGUOI_QL_NGUOID_DM_MANHI] FOREIGN KEY([MAMANHINH])
REFERENCES [dbo].[DM_MANHINH] ([MAMANHINH])
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG] CHECK CONSTRAINT [FK_QL_NGUOI_QL_NGUOID_DM_MANHI]
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_QL_NGUOI_QL_NGUOID_QL_NHOMN] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[QL_NHOMNGUOIDUNG] ([MANHOM])
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG] CHECK CONSTRAINT [FK_QL_NGUOI_QL_NGUOID_QL_NHOMN]
GO
ALTER TABLE [dbo].[QL_PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QL_PHANQ_QL_PHANQU_QL_NGUOI] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[QL_NGUOIDUNG] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[QL_PHANQUYEN] CHECK CONSTRAINT [FK_QL_PHANQ_QL_PHANQU_QL_NGUOI]
GO
ALTER TABLE [dbo].[QL_PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QL_PHANQ_QL_PHANQU_QL_NHOMN] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[QL_NHOMNGUOIDUNG] ([MANHOM])
GO
ALTER TABLE [dbo].[QL_PHANQUYEN] CHECK CONSTRAINT [FK_QL_PHANQ_QL_PHANQU_QL_NHOMN]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_CO_LOAI_SAN] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI_SAN_PHAM] ([MALOAI])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_CO_LOAI_SAN]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_CUNG_CAP_NHA_CUNG] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MANCC])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_CUNG_CAP_NHA_CUNG]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_LAM_RA_NHA_SAN_] FOREIGN KEY([MANSX])
REFERENCES [dbo].[NHA_SAN_XUAT] ([MANSX])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_LAM_RA_NHA_SAN_]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "KHOHANG"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PHIEU_NHAP"
            Begin Extent = 
               Top = 6
               Left = 262
               Bottom = 136
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "DSHANGNHAP"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SAN_PHAM"
            Begin Extent = 
               Top = 138
               Left = 262
               Bottom = 268
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DSNhap'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DSNhap'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "KHOHANG"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PHIEU_XUAT"
            Begin Extent = 
               Top = 6
               Left = 262
               Bottom = 136
               Right = 463
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "DSHANGXUAT"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SAN_PHAM"
            Begin Extent = 
               Top = 138
               Left = 262
               Bottom = 268
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DSXuat'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DSXuat'
GO
USE [master]
GO
