Create database [QLKHO]
USE [QLKHO]
GO
/****** Object:  Table [dbo].[CHITIETDDH]    Script Date: 05/11/2019 9:26:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHITIETDDH](
	[MADDH] [varchar](10) NOT NULL,
	[MASP] [varchar](20) NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CHITIETDDH] PRIMARY KEY CLUSTERED 
(
	[MADDH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONG_TY]    Script Date: 05/11/2019 9:26:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONG_TY](
	[MACTY] [varchar](10) NOT NULL,
	[TENCTY] [varchar](200) NULL,
	[DIACHICT] [varchar](100) NULL,
	[SDTCT] [varchar](11) NULL,
	[MOTACT] [varchar](500) NULL,
	[WEBSITECT] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DM_MANHINH]    Script Date: 05/11/2019 9:26:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DM_MANHINH](
	[MAMANHINH] [varchar](10) NOT NULL,
	[TENMANHINH] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 05/11/2019 9:26:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MADDH] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NULL,
	[TONGTIENMUA] [float] NULL,
	[NGAYDATHANG] [datetime] NULL,
	[GHICHUNND] [varchar](200) NULL,
	[DIACHINHANHANG] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOA__ON]    Script Date: 05/11/2019 9:26:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOA__ON](
	[MAHD] [varchar](10) NOT NULL,
	[MAKH] [varchar](10) NULL,
	[NGAYLAP] [datetime] NULL,
	[TONGTIENMUA] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 05/11/2019 9:26:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MAKH] [varchar](10) NOT NULL,
	[TENKH] [varchar](50) NULL,
	[SDTKH] [varchar](11) NULL,
	[EMAILKH] [varchar](100) NULL,
	[DIACHIKH] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHU_VUC]    Script Date: 05/11/2019 9:26:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHU_VUC](
	[MAKV] [varchar](10) NOT NULL,
	[TENKV] [varchar](100) NULL,
	[MOTA] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAI_SAN_PHAM]    Script Date: 05/11/2019 9:26:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAI_SAN_PHAM](
	[MALOAI] [varchar](10) NOT NULL,
	[MANHOMSP] [varchar](10) NOT NULL,
	[TENLOAI] [varchar](100) NULL,
	[MOTALSP] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 05/11/2019 9:26:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MANCC] [varchar](10) NOT NULL,
	[MAKV] [varchar](10) NOT NULL,
	[TENNCC] [varchar](100) NULL,
	[DIACHINCC] [varchar](200) NULL,
	[NGUOILIENHE] [varchar](50) NULL,
	[SDTNCC] [varchar](11) NULL,
	[MOTANCC] [varchar](500) NULL,
	[EMAILNCC] [varchar](100) NULL,
	[WEBSITENCC] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHA_SAN_XUAT]    Script Date: 05/11/2019 9:26:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHA_SAN_XUAT](
	[MANSX] [varchar](10) NOT NULL,
	[TENNSX] [varchar](100) NULL,
	[MOTANSX] [varchar](500) NULL,
	[EMAILNSX] [varchar](100) NULL,
	[WEBSITENSX] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 05/11/2019 9:26:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MANV] [varchar](10) NOT NULL,
	[TENDANGNHAP] [varchar](10) NOT NULL,
	[MACTY] [varchar](10) NOT NULL,
	[TENNV] [varchar](50) NULL,
	[GIOITINH] [varchar](4) NULL,
	[DIACHINV] [varchar](100) NULL,
	[SDTNV] [varchar](11) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOM_SAN_PHAM]    Script Date: 05/11/2019 9:26:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHOM_SAN_PHAM](
	[MANHOMSP] [varchar](10) NOT NULL,
	[TENNHOMSP] [varchar](50) NULL,
	[MOTANSP] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEU_NHAP]    Script Date: 05/11/2019 9:26:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP](
	[MAPN] [varchar](10) NOT NULL,
	[MANV] [varchar](10) NOT NULL,
	[NGAYNHAP] [datetime] NULL,
	[NOIDUNG] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEU_XUAT]    Script Date: 05/11/2019 9:26:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEU_XUAT](
	[MAPX] [varchar](10) NOT NULL,
	[MANV] [varchar](10) NULL,
	[MAHD] [varchar](10) NOT NULL,
	[NGAYXUAT] [datetime] NULL,
	[SOLUONG] [int] NULL,
	[MOTAPHIEUXUAT] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QL_NGUOIDUNG]    Script Date: 05/11/2019 9:26:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_NGUOIDUNG](
	[TENDANGNHAP] [varchar](10) NOT NULL,
	[MATKHAU] [varchar](20) NULL,
	[HOATDONG] [tinyint] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG]    Script Date: 05/11/2019 9:26:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG](
	[MANHOM] [varchar](10) NOT NULL,
	[MAMANHINH] [varchar](10) NOT NULL,
	[GHICHUNND] [varchar](200) NULL,
 CONSTRAINT [PK_QL_NGUOIDUNGNHOMNGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC,
	[MAMANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QL_NHOMNGUOIDUNG]    Script Date: 05/11/2019 9:26:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_NHOMNGUOIDUNG](
	[MANHOM] [varchar](10) NOT NULL,
	[TENNHOM] [varchar](50) NULL,
	[GHICHUNND] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QL_PHANQUYEN]    Script Date: 05/11/2019 9:26:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_PHANQUYEN](
	[TENDANGNHAP] [varchar](10) NOT NULL,
	[MANHOM] [varchar](10) NOT NULL,
	[COQUYEN] [bit] NULL,
 CONSTRAINT [PK_QL_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC,
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 05/11/2019 9:26:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MASP] [varchar](20) NOT NULL,
	[MALOAI] [varchar](10) NOT NULL,
	[MANCC] [varchar](10) NOT NULL,
	[MANSX] [varchar](10) NOT NULL,
	[MAHD] [varchar](10) NOT NULL,
	[TEN_SAN_] [varchar](500) NULL,
	[MAUSAC] [varchar](20) NULL,
	[KICHTHUOC] [varchar](30) NULL,
	[GIANHAP] [float] NULL,
	[GIABANSI] [float] NULL,
	[GIABANLE] [float] NULL,
	[DVT] [varchar](10) NULL,
	[TRANGTHAI] [varchar](20) NULL,
	[MOTASP] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DM_MANHINH] ([MAMANHINH], [TENMANHINH]) VALUES (N'DN', N'Man hinh dang nhap')
INSERT [dbo].[DM_MANHINH] ([MAMANHINH], [TENMANHINH]) VALUES (N'NK', N'Nhap Kho')
INSERT [dbo].[DM_MANHINH] ([MAMANHINH], [TENMANHINH]) VALUES (N'XK', N'Xuat Kho')
INSERT [dbo].[DONDATHANG] ([MADDH], [MAKH], [TONGTIENMUA], [NGAYDATHANG], [GHICHUNND], [DIACHINHANHANG]) VALUES (N'DDH01', N'KH002', 1000000, CAST(0x0000AAE200000000 AS DateTime), NULL, N'123 Le Trong Tan-HCM')
INSERT [dbo].[DONDATHANG] ([MADDH], [MAKH], [TONGTIENMUA], [NGAYDATHANG], [GHICHUNND], [DIACHINHANHANG]) VALUES (N'DDH02', N'KH001', 2100000, CAST(0x0000AAF800000000 AS DateTime), NULL, N'10 Truong Chinh -HCM')
INSERT [dbo].[HOA__ON] ([MAHD], [MAKH], [NGAYLAP], [TONGTIENMUA]) VALUES (N'HD001', N'KH001', CAST(0x0000A97800000000 AS DateTime), 1000000)
INSERT [dbo].[HOA__ON] ([MAHD], [MAKH], [NGAYLAP], [TONGTIENMUA]) VALUES (N'HD002', N'KH001', CAST(0x0000A99E00000000 AS DateTime), 200000)
INSERT [dbo].[KHACH_HANG] ([MAKH], [TENKH], [SDTKH], [EMAILKH], [DIACHIKH]) VALUES (N'KH001', N'Nguyen Van A', N'0987654354', N'nguyenvana@gmail.com', N'Tan Phu-HCM')
INSERT [dbo].[KHACH_HANG] ([MAKH], [TENKH], [SDTKH], [EMAILKH], [DIACHIKH]) VALUES (N'KH002', N'Tran Van B', N'0345678987', N'vanB@gmail.com', N'101 Truong Chinh HCM')
INSERT [dbo].[KHU_VUC] ([MAKV], [TENKV], [MOTA]) VALUES (N'KV1', N'Khu vuc mien Bac', NULL)
INSERT [dbo].[KHU_VUC] ([MAKV], [TENKV], [MOTA]) VALUES (N'KV2', N'Khu vuc mien Trung', NULL)
INSERT [dbo].[KHU_VUC] ([MAKV], [TENKV], [MOTA]) VALUES (N'KV3', N'Khu vuc HCM', NULL)
INSERT [dbo].[NHOM_SAN_PHAM] ([MANHOMSP], [TENNHOMSP], [MOTANSP]) VALUES (N'NHUAPVC', N'SP Nhua PVC', NULL)
INSERT [dbo].[QL_NGUOIDUNG] ([TENDANGNHAP], [MATKHAU], [HOATDONG]) VALUES (N'thanhngan', N'ngan123', NULL)
INSERT [dbo].[QL_NGUOIDUNG] ([TENDANGNHAP], [MATKHAU], [HOATDONG]) VALUES (N'ngochuy', N'huy123', NULL)
INSERT [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG] ([MANHOM], [MAMANHINH], [GHICHUNND]) VALUES (N'Ad', N'QL', NULL)
INSERT [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG] ([MANHOM], [MAMANHINH], [GHICHUNND]) VALUES (N'NV', N'NK', NULL)
INSERT [dbo].[QL_NHOMNGUOIDUNG] ([MANHOM], [TENNHOM], [GHICHUNND]) VALUES (N'Ad', N'Administrator', NULL)
INSERT [dbo].[QL_NHOMNGUOIDUNG] ([MANHOM], [TENNHOM], [GHICHUNND]) VALUES (N'NV', N'NhanVien', NULL)
INSERT [dbo].[QL_PHANQUYEN] ([TENDANGNHAP], [MANHOM], [COQUYEN]) VALUES (N'ngochuy', N'ad', NULL)
INSERT [dbo].[QL_PHANQUYEN] ([TENDANGNHAP], [MANHOM], [COQUYEN]) VALUES (N'thanhngan', N'ad', NULL)
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_CONG_TY]    Script Date: 05/11/2019 9:26:11 CH ******/
ALTER TABLE [dbo].[CONG_TY] ADD  CONSTRAINT [PK_CONG_TY] PRIMARY KEY NONCLUSTERED 
(
	[MACTY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_DM_MANHINH]    Script Date: 05/11/2019 9:26:11 CH ******/
ALTER TABLE [dbo].[DM_MANHINH] ADD  CONSTRAINT [PK_DM_MANHINH] PRIMARY KEY NONCLUSTERED 
(
	[MAMANHINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_DONDATHANG]    Script Date: 05/11/2019 9:26:11 CH ******/
ALTER TABLE [dbo].[DONDATHANG] ADD  CONSTRAINT [PK_DONDATHANG] PRIMARY KEY NONCLUSTERED 
(
	[MADDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_HOA__ON]    Script Date: 05/11/2019 9:26:11 CH ******/
ALTER TABLE [dbo].[HOA__ON] ADD  CONSTRAINT [PK_HOA__ON] PRIMARY KEY NONCLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_KHACH_HANG]    Script Date: 05/11/2019 9:26:11 CH ******/
ALTER TABLE [dbo].[KHACH_HANG] ADD  CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY NONCLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_KHU_VUC]    Script Date: 05/11/2019 9:26:11 CH ******/
ALTER TABLE [dbo].[KHU_VUC] ADD  CONSTRAINT [PK_KHU_VUC] PRIMARY KEY NONCLUSTERED 
(
	[MAKV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_LOAI_SAN_PHAM]    Script Date: 05/11/2019 9:26:11 CH ******/
ALTER TABLE [dbo].[LOAI_SAN_PHAM] ADD  CONSTRAINT [PK_LOAI_SAN_PHAM] PRIMARY KEY NONCLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHA_CUNG_CAP]    Script Date: 05/11/2019 9:26:11 CH ******/
ALTER TABLE [dbo].[NHA_CUNG_CAP] ADD  CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY NONCLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHA_SAN_XUAT]    Script Date: 05/11/2019 9:26:11 CH ******/
ALTER TABLE [dbo].[NHA_SAN_XUAT] ADD  CONSTRAINT [PK_NHA_SAN_XUAT] PRIMARY KEY NONCLUSTERED 
(
	[MANSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHAN_VIEN]    Script Date: 05/11/2019 9:26:11 CH ******/
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY NONCLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_NHOM_SAN_PHAM]    Script Date: 05/11/2019 9:26:11 CH ******/
ALTER TABLE [dbo].[NHOM_SAN_PHAM] ADD  CONSTRAINT [PK_NHOM_SAN_PHAM] PRIMARY KEY NONCLUSTERED 
(
	[MANHOMSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEU_NHAP]    Script Date: 05/11/2019 9:26:11 CH ******/
ALTER TABLE [dbo].[PHIEU_NHAP] ADD  CONSTRAINT [PK_PHIEU_NHAP] PRIMARY KEY NONCLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_PHIEU_XUAT]    Script Date: 05/11/2019 9:26:11 CH ******/
ALTER TABLE [dbo].[PHIEU_XUAT] ADD  CONSTRAINT [PK_PHIEU_XUAT] PRIMARY KEY NONCLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_QL_NGUOIDUNG]    Script Date: 05/11/2019 9:26:11 CH ******/
ALTER TABLE [dbo].[QL_NGUOIDUNG] ADD  CONSTRAINT [PK_QL_NGUOIDUNG] PRIMARY KEY NONCLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_QL_NHOMNGUOIDUNG]    Script Date: 05/11/2019 9:26:11 CH ******/
ALTER TABLE [dbo].[QL_NHOMNGUOIDUNG] ADD  CONSTRAINT [PK_QL_NHOMNGUOIDUNG] PRIMARY KEY NONCLUSTERED 
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [PK_SAN_PHAM]    Script Date: 05/11/2019 9:26:11 CH ******/
ALTER TABLE [dbo].[SAN_PHAM] ADD  CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY NONCLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETDDH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETD_CHITIETDD_DONDATHA] FOREIGN KEY([MADDH])
REFERENCES [dbo].[DONDATHANG] ([MADDH])
GO
ALTER TABLE [dbo].[CHITIETDDH] CHECK CONSTRAINT [FK_CHITIETD_CHITIETDD_DONDATHA]
GO
ALTER TABLE [dbo].[CHITIETDDH]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETD_CHITIETDD_SAN_PHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SAN_PHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETDDH] CHECK CONSTRAINT [FK_CHITIETD_CHITIETDD_SAN_PHAM]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHA_RELATIONS_KHACH_HA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACH_HANG] ([MAKH])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHA_RELATIONS_KHACH_HA]
GO
ALTER TABLE [dbo].[HOA__ON]  WITH CHECK ADD  CONSTRAINT [FK_HOA__ON_MUA_KHACH_HA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACH_HANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOA__ON] CHECK CONSTRAINT [FK_HOA__ON_MUA_KHACH_HA]
GO
ALTER TABLE [dbo].[LOAI_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_LOAI_SAN_BAO_GOM_NHOM_SAN] FOREIGN KEY([MANHOMSP])
REFERENCES [dbo].[NHOM_SAN_PHAM] ([MANHOMSP])
GO
ALTER TABLE [dbo].[LOAI_SAN_PHAM] CHECK CONSTRAINT [FK_LOAI_SAN_BAO_GOM_NHOM_SAN]
GO
ALTER TABLE [dbo].[NHA_CUNG_CAP]  WITH CHECK ADD  CONSTRAINT [FK_NHA_CUNG_CHIEM_KHU_VUC] FOREIGN KEY([MAKV])
REFERENCES [dbo].[KHU_VUC] ([MAKV])
GO
ALTER TABLE [dbo].[NHA_CUNG_CAP] CHECK CONSTRAINT [FK_NHA_CUNG_CHIEM_KHU_VUC]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIE_DANG_NHAP_QL_NGUOI] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[QL_NGUOIDUNG] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIE_DANG_NHAP_QL_NGUOI]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIE_THUE_CONG_TY] FOREIGN KEY([MACTY])
REFERENCES [dbo].[CONG_TY] ([MACTY])
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIE_THUE_CONG_TY]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NH_NHAP_NHAN_VIE] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PHIEU_NH_NHAP_NHAN_VIE]
GO
ALTER TABLE [dbo].[PHIEU_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_XU_LAP_NHAN_VIE] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEU_XUAT] CHECK CONSTRAINT [FK_PHIEU_XU_LAP_NHAN_VIE]
GO
ALTER TABLE [dbo].[PHIEU_XUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_XU_XUAT_HOA__ON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOA__ON] ([MAHD])
GO
ALTER TABLE [dbo].[PHIEU_XUAT] CHECK CONSTRAINT [FK_PHIEU_XU_XUAT_HOA__ON]
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_QL_NGUOI_QL_NGUOID_DM_MANHI] FOREIGN KEY([MAMANHINH])
REFERENCES [dbo].[DM_MANHINH] ([MAMANHINH])
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG] CHECK CONSTRAINT [FK_QL_NGUOI_QL_NGUOID_DM_MANHI]
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_QL_NGUOI_QL_NGUOID_QL_NHOMN] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[QL_NHOMNGUOIDUNG] ([MANHOM])
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG] CHECK CONSTRAINT [FK_QL_NGUOI_QL_NGUOID_QL_NHOMN]
GO
ALTER TABLE [dbo].[QL_PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QL_PHANQ_QL_PHANQU_QL_NGUOI] FOREIGN KEY([TENDANGNHAP])
REFERENCES [dbo].[QL_NGUOIDUNG] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[QL_PHANQUYEN] CHECK CONSTRAINT [FK_QL_PHANQ_QL_PHANQU_QL_NGUOI]
GO
ALTER TABLE [dbo].[QL_PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_QL_PHANQ_QL_PHANQU_QL_NHOMN] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[QL_NHOMNGUOIDUNG] ([MANHOM])
GO
ALTER TABLE [dbo].[QL_PHANQUYEN] CHECK CONSTRAINT [FK_QL_PHANQ_QL_PHANQU_QL_NHOMN]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_CO_LOAI_SAN] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI_SAN_PHAM] ([MALOAI])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_CO_LOAI_SAN]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_CUNG_CAP_NHA_CUNG] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MANCC])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_CUNG_CAP_NHA_CUNG]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_LAM_RA_NHA_SAN_] FOREIGN KEY([MANSX])
REFERENCES [dbo].[NHA_SAN_XUAT] ([MANSX])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_LAM_RA_NHA_SAN_]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_XUAT_HIEN_HOA__ON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOA__ON] ([MAHD])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_XUAT_HIEN_HOA__ON]
GO
