<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL_BLL.Properties.Settings.QLKHOConnectionString"
            connectionString="Data Source=DESKTOP-IF5SHKQ\SQLEXPRESS;Initial Catalog=QLKHO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>